<md-dialog aria-label="环比图" class="game-chart-dialog">
    <md-tabs md-stretch-tabs>
        <md-tab class="game-data-tab-trend">
            <md-tab-label>{{tablabel}}</md-tab-label>
            <md-subheader class="md-primary">
                <span class="game-chart-subtitle" id="game-chart-trend-title-name">{{chartlabel}}</span>
                <md-select ng-if="!selected" placeholder="选择产品" ng-model="game" class="game-chart-game-sel">
					<md-option value="0" ng-selected="true">全部</md-option>
                    <md-list ng-repeat="game in games">
                        <md-list ng-repeat="it in game.gamelist track by $index">
                            <md-option value="{{it.gid}}">{{it.name}}</md-option>
                        </md-list>
                    </md-list>
                </md-select>
                <div ng-if="selected" class="game-chart-cps-indicator">
                    {{cps_indicator}}
                </div>


            </md-subheader>
            <md-content>
                <p show-chain class="dialog-chart-p" id="trend-chart-p" layout="row" layout-align="center center">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </p>
            </md-content>
        </md-tab>
    </md-tabs>

    <div flex></div>

    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="answer('trend chart closed!')" class="md-primary md-raised btn-game-chart-dialog">
            关闭
        </md-button>
    </div>
</md-dialog>