<md-dialog aria-label="环比图" class="game-chart-dialog">
    <md-tabs class="game-data-tabs-trend">
        <md-tab>
            <md-tab-label>{{tablabel}}</md-tab-label>
            <md-subheader class="md-primary">
                <span class="game-chart-subtitle" id="game-chart-trend-title-name">{{chartlabel}}</span>
                <md-select ng-if="!selected" placeholder="选择产品" ng-model="game" class="game-chart-game-sel">
					<md-option value="0" ng-selected="true">全部</md-option>
                    <md-list ng-repeat="game in games">
                        <md-list ng-repeat="it in game.gamelist track by $index">
                            <md-option value="{{it.gid}}">{{it.name}}</md-option>
                        </md-list>
                    </md-list>
                </md-select>
                <div ng-if="selected" class="game-chart-cps-indicator">
                    {{cps_indicator}}
                </div>


            </md-subheader>
            <md-content class="game-data-tab-trend-content">
                <p show-chain class="dialog-chart-p" id="trend-chart-p" layout="row" layout-align="center center">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </p>
            </md-content>
        </md-tab>
    </md-tabs>

    <!--<div flex></div>-->

    <md-button ng-click="answer('trend chart closed!')" class="md-primary btn-game-chart-dialog">
        ×
    </md-button>

    <md-item class="day-comp-box">
        <span>
            <md-button class="md-primary" ng-click="CmpDateSubstract('tD')">-</md-button>
            <span><span>{{tD}}</span>天前</span>
            <md-button class="md-primary" ng-click="CmpDatePlus('tD')">+</md-button>
        </span>

        <span>
            <md-button class="md-primary" ng-click="CmpDateSubstract('tW')">-</md-button>
            <span><span>{{tW}}</span>周前</span>
            <md-button class="md-primary" ng-click="CmpDatePlus('tW')">+</md-button>
        </span>

        <span>
            <md-button class="md-primary" ng-click="CmpDateSubstract('tM')">-</md-button>
            <span><span>{{tM}}</span>月前</span>
            <md-button class="md-primary" ng-click="CmpDatePlus('tM')">+</md-button>
        </span>

        <span>
            <md-button class="md-primary" ng-click="CmpDateSubstract('tQ')">-</md-button>
            <span><span>{{tQ}}</span>季度前</span>
            <md-button class="md-primary" ng-click="CmpDatePlus('tQ')">+</md-button>
        </span>

        <span>
            <md-button class="md-primary" ng-click="CmpDateSubstract('tY')">-</md-button>
            <span><span>{{tY}}</span>年前</span>
            <md-button class="md-primary" ng-click="CmpDatePlus('tY')">+</md-button>
        </span>

        <span>
            <span>自定义对比</span>
            <input id="diydaterangecomp" type="text" date-range-picker ng-model="DiyDateRangeComp" ranged="true" />
            <md-button hide-sm show-date-range-picker class="md-primary btn-remain-time" id="btn-diycomp-date" aria-label="rechremainbtn">
                <md-icon md-svg-icon="calendar"></md-icon>
            </md-button>
        </span>
    </md-item>

    <!--<div class="md-actions" layout="row" class="game-data-tabs-trend-actions">
        <span flex></span>
        <md-button ng-click="answer('trend chart closed!')" class="md-primary md-raised btn-game-chart-dialog">
            关闭
        </md-button>
    </div>-->
</md-dialog>