html, body {
    font-family: "Microsoft YaHei";
    font-size: 14px;
    height: 100%;
    margin: 0px;
    padding: 0px;
	background-color: #EBF0F3;
    overflow-x: hidden;
    -webkit-overflow-scrolling : touch;
}

/* Toolbar area */
.menu {
    background-color: transparent;
    border: none;
    height: 38px;
    margin: 10px;
    width: 36px;
}

.menu md-icon {
    fill: #999999;
}

.right {
    position:absolute;
    float:right;
}

md-toolbar {
    height: 53px;
    min-height: 53px;
    z-index: 69;
    opacity: 0.95;
}

md-toolbar.md-default-theme {
    /*background-color: #ffffff;*/
}

md-toolbar h1 {
    margin: auto;
}

md-toolbar .toolbar_logo {
    width: 109px;
    height: 31px;
    margin: 5px 5px;
}

/* Sidenav area */
md-list .md-button {
    color: inherit;
    font-weight: 500;
    text-align: left;
    width: 100%;
}

md-list .md-button.selected {
    color: #03a9f4;
}

md-sidenav {

}

md-sidenav.md-locked-open {
    width: 21px;
    min-width: 215px;
    max-width: 215px;
	margin-top: 53px;
}
md-sidenav.md-locked-open, md-sidenav.md-locked-open.md-closed, md-sidenav.md-locked-open.md-closed.md-sidenav-left, md-sidenav.md-locked-open.md-closed, md-sidenav.md-locked-open.md-closed.md-sidenav-right, md-sidenav.md-locked-open-remove.md-closed {
	position: fixed;
}

md-sidenav md-list {
    padding: 0 0 8px 0;
}


.game-cps-sidenav {
    z-index: 71;
}
.game-cps-panel.md-default-theme {
    /*background-color: #3F51B5;*/
}
.game-cps-sidenav .cps-channel-radiogroup {
    max-height: 202px;
    overflow-y: scroll;
}
.game-cps-sidenav .cps-platform-radiogroup {
    max-height: 202px;
    overflow-y: scroll;
}
.game-cps-sidenav .cps-server-select {
    margin-left: 20px;
}

.game-sidenav {
	position:fixed;
    width: 230px;
    background-color: #142036;
    z-index: 69;
}
.game-sidenav .game-type {
    color: #0066FF;
    margin-left: 20px;
    margin-top: 30px;
    font-size: 15px;
    font-weight: bold;
}
.game-sidenav .game-list-span {
    font-weight: bold;
    color: #97A1AA;
    font-size: 15px;
    margin-left: 10px;
}
.game-sidenav .game-list-button {
    height: 56px;
    padding-left: 10px;
}
.game-sidenav .game-list-button {
    border-radius: 0px;
}
md-button:hover {
    background-color: #ffffff;
}
.game-sidenav .game-selected {
    background-color: #2196F3;
}
.game-sidenav .game-name-selected {
    color: #ffffff;
}
.game-sidenav .next-icon {
    color: #ffffff;
}



/* Primary content area */

/*#content {*/
    /*overflow: hidden;*/
/*}*/

#content {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    background-color: #EBF0F3;
}

#right-content {
	margin-left: 215px;
}

#right-content .game-subheader {
    height: 68px;
    background-color: #F6F7F9;
    border-bottom: 2px solid #EAEAEA;
	margin-right: 0px;
	position: fixed;
	top: 53px;
	width: 100%;
	z-index: 68;
}

.game-subheader .subheader-game-name {
    font-weight: 400;
    font-size: 26px;
    color: #4C545F;
    margin: 12px 0 0 10px;
    display: inline-block;
}
.game-subheader .subheader-game-cps {
    float: right;
    margin-right: 0px;
    margin-top: -2px;
}
.game-subheader .subheader-time {
    float: right;
}
.game-subheader .subheader-time-pc {
	float: right;
	margin-right: 10px;
    margin-top: 15px;
}
.game-subheader .btn-time {
    padding: 10px 25px;
    margin: 0 3px;
    border-radius: 0;
    font-size: 14px;
}
.btn-remain-time {
    padding: 5px;
    margin: 0;
    border-radius: 0;
    font-size: 14px;
    font-size:16px;
}
.game-subheader .btn-calendar {
    margin: 0;
}

#content .md-button.share {
    background-color: transparent;
    border: none;
    width: 48px;
    height: 48px;
    margin: 8px auto 16px 0;
    position: absolute;
    top: 10px;
    right: 25px;
}

#content md-icon.avatar {
    margin-top: 10px;
}

#content .md-button.share > md-icon {
    fill: black;
    width: 36px;
    height: 36px;
}

md-button.menuBtn > md-icon {
    fill: white;
    width: 24px;
    height: 24px;
}

#content .md-button.share:active > md-icon {
    background-color: #dadada;
    border-radius: 75%;
    padding: 4px;
    transition: all 100ms ease-out 30ms;
}

#content img {
    display: block;
    height: auto;
    max-width: 500px;
}

/* Utils */

.content-wrapper {
    position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
    font-size: 1.250em;
    font-weight: 400;
}

.game-head-nav {
	/*position: fixed;*/
	left: 0;
	top: 0;
}
.game-head-nav .game-head-nav-content {
    overflow: hidden;
}
.game-head-nav .game-progress-bar {
    position: absolute;
    bottom: 5px;
}
.game-head-nav .game-data-progress-circular {
    position: absolute;
    top: 3px;
    right: 50px;
}
.game-head-nav .md-ready {
    /*height: 3px;*/
}
.game-head-nav.md-default-theme {
    background-color: #ffffff;
}

.avatar {
    position: relative;
    width: 128px;
    height: 128px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0px;
    vertical-align: middle;
    zoom: 0.70;
    transform: translateZ(0);
    -webkit-transform: scale(0.70);
    -moz-transform: scale(0.70);
}

md-bottom-sheet md-icon {
    margin-right: 20px;
}

span.name {
    font-weight: bold;
    font-size: 1.1em;
    padding-left: 5px;
}

.game-main-content {
    overflow-x: hidden;
}

.content {
	margin-top: 65px;
	padding: 20px;
    background-color: #EBF0F3;
}
.content .game-data-card-header {
	width:100%;
	height:60px;
	background-color: #F5F5F5
}
.content .game-data-card-header .card-header-title {
	font-size: 20px;
	color: #6A7179;
	display: inline-block;
	margin: 8px;
}
.content .game-data-card {
	background-color: #ffffff;
}
.content .game-data-card-content {
	text-align: center;
}
.content .game-data-card-content-row {
	display: block;
	padding: 0 0;
}
.content .btn-game-data-literal {
    margin-left: -10px;
}
.content .game-data-chart-indicator:hover {
    -webkit-box-shadow: 0 0 10px 0 #ccc;
    -moz-box-shadow: 0 0 10px 0 #ccc;
    box-shadow: 0 0 10px 0 #ccc;
}
.content .trend-title {
	/*font-size: 18px;*/
    font-size: 1vw;
	color: #A5A5A5;
}
.content .game-data-remain-datepicker {
    margin-left: 20px;
}
.content .trend-chart-indicator:hover {
    -webkit-box-shadow: 0 0 10px 0 #ccc;
    -moz-box-shadow: 0 0 10px 0 #ccc;
    box-shadow: 0 0 10px 0 #ccc;
    padding: 5px 0;
}
.content .trendup-literal {
    font-size: 16px;
    color: #b20000;
    margin: 0 0 0 10px;
}
.content .trenddown-literal {
    font-size: 16px;
    color: #008000;
    margin-left: 10px;
}
.content .trend-img {
    vertical-align: middle;
}
.content .data-literal {
    font-family: "Microsoft YaHei";
	/*font-size: 72px;*/
    font-size: 4vw;
	color: #333333;
}
.content .data-literal-sm {
	font-size: 36px;
}
.content .data-literal-unit {
	font-size: 16px;
	color: #333333;
}
.content .topgame {
	font-size: 18px;
	color: #A5A5A5;
}
.content .data-sub-literal {
	font-size: 28px;
	color: #333333;
}
.content .game-data-card-inner {
	text-align: left;
	width: 450px;
	margin: 0 auto;
	padding: 20px;
}
.content .heightfixed1 {
    height: 190px;
}
.content .heightfixed2 {
    height: 126px;
}
.content .game-data-card-online {
	padding: 20px;
}
.content .game-data-card-rech-adt {
    padding: 20px;
    margin-top: 20px;
}

.content .game-data-card-inner2 {
	width: 300px;
}
.content .game-data-card-divider {
}
.content .game-data-card-divider-sm {
	display: none;
}
.content .content-part1 {
	min-height: 420px;
}
.content .content-part2 {
	min-height: 583px;
}
.content .content-part1-1 {
    min-height: 420px;
}
.content .content-part1-2 {
    min-height: 637px;
}
.content .content-part1-3 {
    min-height: 683px;
}

.content .border-right {
	border-right:2px solid #E0E0E0
}
.content .heightfixedRemain1 {
    height: 76px;
}
.content .heightfixedRemain2 {
    height: 114px;
}
.content .border-right-dotted {
    border-right:2px dashed #EFEFEF;
}
.content .trend-title .game-top-rech-sel {
    margin-top: 0px;
}


md-card md-card-content {
	padding: 0;
}


.game-bottom-sheet .btn-btm-time {
    padding: 12px 25px;
    margin: 10px;
}
.game-bottom-sheet .game-bottom-mditem {
    /*margin: 10px 0;*/
}


.game-chart-dialog {
    height: 100%;
    width: 100%;
    max-width: 80%;
    max-height: 80%;
    bottom: 0;
}
.game-chart-dialog .md-header-items-container {
    /*font-size: 26px;*/
    border-bottom: 2px solid #EFEFEF;
}
.game-chart-dialog .game-chart-subtitle {
    font-size: 18px;
}
.game-chart-dialog .game-chart-game-sel {
	float: right;
	margin-top: -10px;
}
.game-chart-dialog .game-chart-cps-indicator {
    float: right;
}
.game-chart-dialog .dialog-chart-p {
	width:99%;
    height: 100%;
}
.game-chart-dialog .dialog-chart-p-half {
    width: 49%;
    height: 100%
}
.game-chart-dialog .dialog-chart-p2 {
    width: 49%;
    height: 100%;
}
.game-chart-dialog .md-tabs-content {
    height: 100%;
}
.game-chart-dialog .day-comp-box {
    text-align: center;
}

.game-data-tabs-trend {
    height: 90%;
    overflow: hidden;
}

md-backdrop.md-select-backdrop {
    z-index: 81;
    overflow-x: hidden;
}

.game-data-tab-trend {
    width: 100%; max-width: 100%; height: 100%; max-height: 100%;
}
.game-data-tab-trend-content {
    overflow: hidden;
    height: 88%;
    padding: 0;
}

.btn-game-chart-dialog {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0 20px;
    font-size: 36px;
}
.btn-game-chps {
    height: 68px;
    padding: 26px;
}
.btn-cps-confirm {
    margin: 50px 0 0 30px;
    padding: 10px 20px;
}







@media screen and (max-width: 600px) {
    .menu {
        background-color: transparent;
        border: none;
        height: 38px;
        margin: 0;
        width: 36px;
    }
    .game-head-nav .game-giant-logo {
        padding: 3px;
        margin: 0;
    }
    md-toolbar .toolbar_logo {
        margin: 0;
    }
    #right-content .game-subheader {
        height: 0px;
        background-color: #F6F7F9;
        border-bottom: 2px solid #EAEAEA;
        margin-right: 0px;
        position: relative;
        width: 100%;
        z-index: 68;
        top: 0;
    }

	#right-content {
		margin-left: 0px;
	}
    #right-content .game-subheader {
        min-height: 45px;
    }

    .game-subheader .subheader-game-name {
        margin: 10px;
        font-weight: bold;
        font-size: 16px;
    }
    .game-subheader .subheader-time {
        margin-top: 2px;
        margin-right: 2px;
    }
    .game-head-nav .game-data-progress-circular {
        top: -7px;
    }

    .content {
        padding: 0;
        margin-top: 0;
    }
	.content .content-part1 {
		min-height: 405px;
	}
	.content .content-part2 {
		min-height: 780px;
	}
    .content .content-part1-1 {
        min-height: 470px;
    }
    .content .content-part1-2 {
        min-height: 825px;
    }
    .content .content-part1-3 {
        min-height: 425px;
    }
	.content .data-literal {
        font-family: "Helvetica Neue";
		font-size: 38px;
	}
    .content .data-sub-literal {
        font-family: "Helvetica Neue";
    }
	.content .border-right {
		border-right:0px;
	}
    .content .margintop10 {
        margin-top: 10px;
    }
    .content .game-data-card-profit {
        max-height: 150px;
    }
    .content .game-data-card-ol {
        max-height: 255px;
    }
    .content .game-data-card-spec-profit {
        min-height: 280px;
    }
	.content .game-data-card-divider-hide-sm {
		display: none;
	}
	.content .game-data-card-divider-sm {
		display: block;
	}
    .content .game-data-card-header {
        height: 40px;
    }
    .content .game-data-card-header .card-header-title {
        margin: 0;
    }
    .content .game-data-card-inner {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    .content .btn-game-data-literal {
        margin-left: 0px;
        padding: 0 2px;
    }
    .content .game-data-card-content-row-left {
        text-align: left;
        margin-left: 20px;
    }
    .content .game-data-card-content-row-right {
        text-align: center;
    }
    .content .game-data-card-online {
        padding: 5px;
    }
    .content .game-data-card-rech-adt {
        padding: 5px;
        margin: 0;
    }

    .game-chart-dialog {
        height: 100%;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        bottom: 0;
    }

    .game-chart-dialog .game-chart-cps-indicator {
        margin-top: 8px;
        float: none;
    }

    .game-chart-dialog .dialog-chart-p {
        width: 100%;
        /*margin-left: -30px;*/
        height: 90%;
    }
    .game-chart-dialog .dialog-chart-p-half {
        width: 100%;
        height: 100%
    }
    .game-chart-dialog .dialog-chart-p2 {
        width: 100%;
        height: 100%;
    }
    .game-chart-dialog .md-actions {
        padding: 5px;
    }

    .game-data-tabs-trend {
        height: 100%;
    }

    .game-data-tab-trend-content {
        height: 88%;
        padding: 0;
    }

    .content .game-data-remain-datepicker {
        margin-left: 0px;
    }
    .content .trend-title {
        font-size: 18px;
    }
    .content .topgame {
        font-size: 14px;
    }
    .content .heightfixed1 {
        height: 75px;
    }
    .content .heightfixed2 {
        height: 75px;
    }

    .btn-remain-time {
        padding: 5px;
        margin: 8px 0;
        border-radius: 0;
        font-size: 14px;
        font-size:16px;
    }

    #mobiledaterangepicker {
        margin-left: 30px;
    }

    .btn-game-chart-dialog {
        padding: 0 15px;
        position: absolute;
        top: 0px;
        right: 0px;
    }

    md-card {
        margin: 0;
    }

    md-toolbar {
        height: 35px;
        min-height: 35px;
        z-index: 69;
        opacity: 0.95;
    }

}